<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine</title>
</head>
<body>
    <h1>Mine</h1>
    <ul>
        <li>
            <div class="todo">
                <!-- TODO: add url to check todo as done -->
                <form action="/" method="post">
                    <!-- TODO: see how you will do this -->
                    <!-- TODO: AJAX -->
                    <!-- TODO: Make id and others use GUID instead of Serial id for security -->
                    <input type="checkbox" name="" id="" class="todo-check">
                </form>
                <p>Do laundry</p>
                <!-- TODO: Edit Button -->
                <!-- TODO: Delete Button -->
            </div>
        </li>
        <li>exercis</li>
        <li>homerwls</li>
    </ul>
</body>
</html>